@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

@media only screen and (max-width: 430px) {
  html,
  body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0px;
    height: 100%;
  }

  header {
    width: 100%;
    height: 9%;
    overflow-x: hidden;
    border-radius: 20px;
    background-color: black;
    position: fixed;
    top: 0;
  }

  .logo-title {
    display: flex;
    position: fixed;
    height: 10%;
    left: 0;
    z-index: 1;
  }
  .searchMobile,
  nav,
  nav ul li {
    display: none;
  }
  .fullMobile {
    background-color: rgb(47, 50, 54);
    padding: 22% 5%;
    padding-bottom: 0px;
    margin: 0px 0px;
    overflow-x: hidden;
  }
  .fullMobile img {
    border-radius: 10px;
    display: flex;
    position: static;
    bottom: 100%;
    right: 15%;
    width: 100%;
    height: 60%;
    z-index: -3;
  }

  .MobileSign {
    display: flex;
    justify-content: end;
    z-index: 1;
  }
  .MobileSign button {
    position: fixed;
    margin: 3% 6%;
    width: 20%;
  }
  .mobileModal {
    display: none;
    position: fixed;
    background-color: white;
    padding-top: 10px;
    margin: 25% 20%;
    height: 40%;
    border-radius: 10px;
  }
  .mobileLogin,
  .mobileCreate {
    display: block;
    width: 10px;
  }

  .mobileLogin input,
  .mobileLogin button,
  .mobileLogin p,
  .mobileCreate input,
  .mobileCreate button,
  .mobileCreate p {
    width: 50vw;
    height: 1%;
    font-size: 11px;
    font-family: "quicksand", sans-serif;
  }
  .mobileSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 2%;
    border-radius: 20px;
    width: 100%;
    font-family: "Roboto", sans-serif;
  }
  .mobileSectioTitle {
    margin: 3%;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
  }
  .dj-description img,
  .live-sound img,
  .music-production img {
    border-radius: 10px;
  }

  .instrumentMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .mobileSpecial,
  .instrumentMobile ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "quicksand", sans-serif;
  }

  .instrumentMobile img {
    width: 100%;
    align-items: center;
  }
  .product-list {
    margin: 0px;
    padding: 15px 0px;
  }

  .footerMobile {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    padding: 1px 1px;
    text-align: left;
  }
  .footerTitleMobile {
    padding: 1px 5px;
    margin: 1px 1px;
  }
  h4 {
    font-family: "Roboto", sans-serif;
  }
  .mobileFooterMenu {
    font-family: "Roboto", sans-serif;
  }
}
