@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@media only screen and (max-width: 430px) {
  body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0px;
  }
  .mobileTop {
    background-color: rgba(1, 1, 1, 0.65);
  }
  .mobileTopLogo {
    display: none;
  }
  .mobileHeader {
    width: 100%;
    top: 0;
    display: none;
  }
  .mobileNavLeft {
    display: none;
  }
  .mobileNav li {
    display: none;
  }
  .mobileHambueger {
    background-color: orange;
    margin: 0;
    padding: 10px;
  }
  .mobileHambueger button {
    background-image: url("https://thumbs.dreamstime.com/b/hamburger-menu-bar-icon-flat-vector-illustration-design-hamburger-menu-bar-icon-flat-vector-illustration-design-isolated-white-158420247.jpg");
    position: sticky;
    width: 20%;
    background-color: orange;
    top: 0;
    z-index: 1;
  }

  .MobileSign button {
    display: none;
    justify-content: center;
    margin: 0px;
    width: 70px;
    /* position: sticky; */
    right: 0;
    background-color: rgb(23, 60, 97);
    font-family: "quicksand", sans-serif;
  }
  .mobileModal {
    display: none;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.924);
    margin: 20%;
    height: 40%;
    border-radius: 10px;
  }
  .mobileLogin {
    display: block;
    width: 10px;
  }

  .mobileLogin input,
  .mobileLogin button,
  .mobileLogin p {
    width: 50vw;
    font-size: 11px;
    font-family: "quicksand", sans-serif;
  }
  .searchMobile {
    display: none;
  }
  .searchMobile input {
    margin: 0px;
    bottom: 1px;
    width: 79vw;
  }
  .mobileBtn {
    background-color: white;
  }
  .mainMobile {
    display: flex;
    flex-direction: column;
  }
  .mobileSection {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
  .mobileSectionTitle {
    font-family: "Roboto", sans-serif;
  }
  .fullMobile img {
    display: none;
  }
  .instrumentMobile {
    display: none;
  }
  .footerMobile {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    padding: 1px 1px;
    text-align: left;
  }
  .footerTitleMobile {
    padding: 1px 5px;
    margin: 1px 1px;
  }
  h4 {
    font-family: "Roboto", sans-serif;
  }
  .mobileFooterMenu {
    font-family: "Roboto", sans-serif;
  }
}
